body {
    background-color: lightblue;
  }
  h1 {
    background-color: green;
  }
  
  div {
    background-color: lightblue;
  }
  
  p {
    background-color: yellow;
  }
  div {
    background-color: green;
    opacity: 0.3;
  }
  div {
    background: rgba(0, 128, 0, 0.3) /* Green background with 30% opacity */
  }